.lower-section{
  width: 95%;
  display: flex;
  /* background-color: blueviolet; */
}
.question-section{
  /* background: red; */
  margin-left: 5%;
  width: 55%;
}
.quize-sec{
  margin-bottom: 100px;
}
.question-bord{
  width: 38%;
  height: 100px;
  /* background-color: aqua; */
  margin-left: 40px;
}